<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montando o Lanche</title>

    <!-- VUE -->
    <script src="./vue.js"></script>

    <!-- BOOTSTRAP -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- As a heading -->
    <nav class="navbar bg-light">
        <div class="container">
        <span class="navbar-brand mb-0 h1">MONTE O SEU LANCHE</span>
        </div>
    </nav>

    <div class="container">
        
        <div id="app">

            <div class="row">
                <div class="col-md-6 my-3">
                    <div class="row mt-2 text-center">
                        <div class="col">
                            <img :src="pao[0]" alt="pao superior">
                            <img :src="alface" alt="alface">
                            <img :src="ketchup" alt="molho">
                            <img :src="mostarda" alt="molho">
                            <img :src="maionese" alt="molho">
                            <img :src="hamburguer" alt="hamburguer">
                            <img :src="pao[1]" alt="pao inferior">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3" v-if="etapa == 1">
                    <!-- tipo do pão -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    TIPO DO PÃO
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="gergelim" v-model="inputTipoPao">
                                        <label class="form-check-label">
                                            Gergelim
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="australiano" v-model="inputTipoPao">
                                        <label class="form-check-label">
                                            Australiano
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- saladas -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    SALADAS
                                </div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alface" v-model="inputSaladas">
                                        <label class="form-check-label">Alface</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- molhos -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    MOLHOS
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="ketchup" v-model="inputMolhos">
                                        <label class="form-check-label">
                                            Ketchup
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mostarda" v-model="inputMolhos">
                                        <label class="form-check-label">
                                            Mostarda
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="maionese" v-model="inputMolhos">
                                        <label class="form-check-label">
                                            Maionese
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tipo hamburguer -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    TIPO DO HAMBÚRGUER
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="bovino" v-model="inputHamburguer">
                                        <label class="form-check-label">
                                            Bovino
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="frango" v-model="inputHamburguer">
                                        <label class="form-check-label">
                                            Frango
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="soja" v-model="inputHamburguer">
                                        <label class="form-check-label">
                                            Soja
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" @click="fazerPedido()">Fazer pedido</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3" v-if="etapa == 2">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    INFORME SEUS DADOS
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">Nome</label>
                                        <input type="text"class="form-control" v-model="inputNome">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Endereço</label>
                                        <input type="text"class="form-control" v-model="inputEndereco">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-warning" @click="etapa -= 1">Voltar para o Lanche</button>
                            <button type="button" class="btn btn-success" @click="confirmarPedido()">Confirmar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3" v-if="etapa == 3">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    PEDIDO CONFIRMADO
                                </div>
                                <div class="card-body">
                                    <p>Agora é só aguardar 10 minutinhos!</p>
                                    <p>Vamos chamar vc em breve ;)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-warning" @click="etapa = 1">Repetir pedido</button>
                            <button type="button" class="btn btn-success" @click="novoPedido()">Novo pedido</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',

            data: {
                inputTipoPao: '',
                inputSaladas: [],
                inputMolhos: [],
                inputHamburguer: '',
                etapa: 1,
                inputNome: '',
                inputEndereco: '',
                novoPedidoAssincrono: null
            },

            computed: {
                pao() {
                    switch(this.inputTipoPao) {
                        case 'gergelim':
                            return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        
                        case 'australiano':
                            return ['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']

                        default:
                            return ['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                    }
                },

                alface() {
                    if(this.inputSaladas.includes('alface')) {
                        return 'imagens/alface.png'
                    }
                    return 'imagens/padrao/alface.png'
                },

                ketchup() {
                    if(this.inputMolhos.includes('ketchup')) {
                        return 'imagens/ketchup.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                
                mostarda() {
                    if(this.inputMolhos.includes('mostarda')) {
                        return 'imagens/mostarda.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                
                maionese() {
                    if(this.inputMolhos.includes('maionese')) {
                        return 'imagens/maionese.png'
                    }
                    return 'imagens/padrao/molho.png'
                },

                hamburguer() {
                    switch(this.inputHamburguer) {
                        case 'bovino':
                        return 'imagens/bovino.png'
                        
                        case 'frango':
                            return 'imagens/frango.png'

                        case 'soja':
                            return 'imagens/soja.png'

                        default:
                            return 'imagens/padrao/hamburguer.png'
                    }
                }
            },

            methods: {
                fazerPedido() {
                    if(this.inputTipoPao && this.inputHamburguer) {
                        this.etapa = 2
                    }else {
                        alert('Você precisa selecionar no mínimo um pão e um hamburguer')
                    }
                },

                confirmarPedido() {
                    if (this.inputNome && this.inputEndereco) {
                        this.etapa = 3

                        // realizar uma requisição http enviando os dados do pedido para o backend da aplicação

                        this.novoPedidoAssincrono = setTimeout(() => this.novoPedido(), 7000)
                    }else {
                        alert('Você precisa informar o seu nome e endereço')
                    }
                },

                novoPedido() {
                    this.inputTipoPao = ''
                    this.inputSaladas = []
                    this.inputMolhos = []
                    this.inputHamburguer = ''
                    this.etapa = 1
                    this.inputNome = ''
                    this.inputEndereco = ''
                }
            },

            watch: {
                etapa(novoValor) {
                    if(novoValor == 1)
                        clearTimeout(this.novoPedidoAssincrono)
                }
            }
        });
    </script>
</body>
</html>